* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    background: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    height: 80px;
}

.navbar .logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: black;
 background-color: white;
}


.home {
    height: 90vh;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: -40px;
    border-radius: 8px;
    transition: transform 1s ease, border-radius 1s ease;
}

.profile-img:hover {
    transform: rotate(360deg);
    border-radius: 50%;
}


.name {
    margin-top: 15px;
    font-size: 40px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.about-box {
    margin-top: 20px;
    background: black;
    padding: 25px;
    width: 70%;
    border-radius: 12px;
    box-shadow: 0 5px 15px lightgray;
    transition: transform 0.3s ease;
}

.about-box:hover {
    transform: scale(1.03);
}

.about-box p {
   color: white;
    font-size: 16px;
 
}


.internship-box {
    display: flex;
    align-items: center;
    gap: 25px;
    background: black;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px lightgray;
}

.internship-box img {
    width: 120px;     
    height: auto;
}

.internship-content h3 {
    color: white;
    margin-bottom: 8px;
}

.internship-content p {
    color: white;
   
}


.section {
    background: white;
    margin: 40px auto;
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.section:hover {
    transform: scale(1.02);
}

.section h2 {
    margin-bottom: 15px;
    color: midnightblue;
}


.skills {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skills span {
    background: steelblue;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
}


.project {
    margin-bottom: 15px;
    color: black;
}


.footer {
    background: midnightblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}


.social-left h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-icons a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.social-icons img {
    width: 45px;
}

.social-icons a:hover span {
    color: gold;
}


.qr-right {
    text-align: center;
}

.qr-right img {
    width: 120px;   
    margin-bottom: 8px;
}

.qr-right p {
    font-size: 14px;
    color: lightgray;
}



.comment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.comment-form input,
.comment-form textarea {
    padding: 12px;
    border: 1px solid silver;
    border-radius: 6px;
    font-size: 14px;
}

.comment-form input:focus,
.comment-form textarea:focus {
    outline: none;
    border-color: steelblue;
}

.comment-form button {
    width: 160px;
    padding: 10px;
    background: steelblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.comment-form button:hover {
    background: royalblue;
}
